/* generic resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, 'Segoe UI', 'Helvetica Neue', sans-serif;
  background-color: var(--bg-white);
  color: var(--text-gray);
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: var(--text-purple);
}

button {
  font-family: inherit;
  cursor: pointer;
}

input,
textarea {
  font-family: inherit;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 430px) {
  body {
    font-size: var(--font-sm);
  }
}

#app {
  width: 100%;
}

.fullbleed, .midbleed {
  position: relative;
  min-width: 100%;
  margin:0 auto;
}

.midbleed {
  max-width: 1366px;
}