/* generic resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  background-color: var(--bg-berge);
  color: var(--text-gray);
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: var(--text-purple);
}

button {
  font-family: inherit;
  cursor: pointer;
}

input,
textarea {
  font-family: inherit;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 430px) {
  body {
    font-size: var(--font-sm);
  }
}

#app {
  width: 100%;
}