/* Update your CSS to this */

:root {
  --hn-bg: #f6f6ef;
  --hn-gray: #828282;
  --iphone-width: 430px;
  --fb-blue: #0078FF;
  --visited-purple: #551A8B;
  --orange: #ff6600;
}

*, html {
  box-sizing: border-box;
}

body {
  background-color: var(--hn-bg);
  font-family: Verdana, Geneva, sans-serif;
  margin: 0;
  /* REMOVED: display flex and justify-center */
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 13px;
}

/* Ensure the wrapper that holds your trending/people/communities is centered */
#app {
  width: 100%;
}